:root {
/* FONT */
  font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

/* COLOR */
/** CSS DARK THEME PRIMARY COLORS */
--r100: #ff3333;
--r200: #ff5548;
--r300: #ff6f5d;
--r400: #ff8672;
--r500: #ff9b89;
--r600: #ffb09f;
/** CSS DARK THEME SURFACE COLORS */
--s100: #141211;
--s200: #292827;
--s300: #403f3e;
--s400: #585756;
--s500: #727170;
--s600: #8c8b8b;

--r : #ff3333;
--y : #ffcc33;
--b : #2461ff;
--g: #35d55e;
--d9 : #050404;
--d8 : #090908;
--d7 : #141211;
--d71: #3c3a39;
--d72: #686665;
--d73: #989695;
--d74: #cbc9c8;
--d6 : #1d1c19;
--d5 : #272521;
--d4 : #312e29;
--d3 : #3b3732;
--d2 : #44403a;
--d1 : #4e4942;
--m9 : #58534a;
--m8 : #625c53;
--m7 : #6c655b;
--m6 : #756e63;
--m5 : #7f776b;
--m4 : #898074;
--m3 : #91897d;
--m2 : #9a9287;
--m1 : #a29b91;
--l9 : #aaa49b;
--l8 : #b2ada4;
--l7 : #bbb6ae;
--l6 : #c3bfb8;
--l5 : #cbc7c2;
--l4 : #d3d0cb;
--l3 : #dcd9d5;
--l2 : #e8e6e4;
--l1 : #f3f3f1;
--l12: #f4f2f1;
--yx : #fff1c9;
--y0 : #ffeebb;
--y1 : #ffebad;
--y2 : #ffe7a0;
--y3 : #ffe492;
--y4 : #ffe085;
--y5 : #ffdd77;
--y6 : #ffda69;
--y7 : #ffd65c;
--y8 : #ffd34e;
--y9 : #ffcf41;

  --rl: #ff6666;
  --rA: #f03d3d;
  --rd1: #c62d2d;
  --rd2: #8e2828;
  --rd3: #562323;
  --bl1: #c8d7ff;
  --bl2: #91b0ff;
  --bl3: #5a88ff;
  --bd2: #2250c6;
  --bd3: #203f8e;
  --bd4: #111827;
  --gl: #9aeaae;
  --gd: #27a74e;
  --gd2: #29793e;
  --w2: #e9e9eb;
  --w3: #ccc;
  --w4: #b2b2b2;
  --b1: #808080;
  --b2: #51515a;
  --b3: #292929;
  --b4: #1e1e1e;
  --b5: #111;
  }