@tailwind base;
@tailwind components;
@tailwind utilities;
@import './Styles/colors.css';
@import './Styles/keyframes.css';
@import './Styles/typography.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@layer base {html {font-family: Poppins, system-ui, sans-serif}}
  @layer utilities {
    .translate-3d-14 {
      transform: translate3d(0, 8px, 0);
      transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
    }
    .translate-3d-14S {
      transform: translate3d(0, 4px, 0);
      transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
    }
    .translate-3d-14B {
      transform: translate3d(0, 12px, 0);
      transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
    }
    .transition-after-14 {
      transition: 
        transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
        right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
        left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
    }
    .scale-3d-101 {
      transform: scale3d(1,0,1);
    }
    .scale-3d-011 {
      transform: scale3d(0,1,1);
    }
    @variants group-hover, hover {
      .translate-3d-h-14 {
        transform: translate3d(0,0,0);
        transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
      }
      .transition-after-h-14 {
        transition: 
          transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
          right 0.2s cubic-bezier(1,0,.65,1.01),
          left 0s 0.3s;
      }
      .scale-3d-011 {
        transform: scale3d(0,1,1);
      }
      .scale-3d-111 {
        transform: scale3d(1,1,1);
      }
    }
  }

:root {
  --h00-size-mobile: 2.5rem;
  --h0-size-mobile: 2rem;
  --h1-size-mobile: 1.625rem;
  --h2-size-mobile: 1.375rem;
  --h3-size-mobile: 1.125rem;
  --h00-size: 3rem;
  --h0-size: 2.5rem;
  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --h4-size: 1rem;
  --h5-size: 0.875rem;
  --h6-size: 0.75rem;
  --p-size: 1rem;
  --p-size-mobile: 0.875rem;
}

.industry {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

.Flex>* {
  margin-right: 10px;
}

.Flex>*:last-child {
  margin-right: 0;
}

.Flex-copy {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 20%;
  height: 20%;
}

.Flex-copy>* {
  margin-right: 10px;
}

.Flex-copy>*:last-child {
  margin-right: 0;
}

.Flex-copy-copy {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 20%;
  height: 20%;
}

.Flex-copy-copy>* {
  margin-right: 10px;
}

.Flex-copy-copy>*:last-child {
  margin-right: 0;
}

.Flex-copy-copy-copy {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 20%;
  height: 20%;
}

.Flex-copy-copy-copy>* {
  margin-right: 10px;
}

.Flex-copy-copy-copy>*:last-child {
  margin-right: 0;
}

.Flex-copy-copy-copy-copy {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 20%;
  height: 20%;
}

.Flex-copy-copy-copy-copy>* {
  margin-right: 10px;
}

.Flex-copy-copy-copy-copy>*:last-child {
  margin-right: 0;
}

.colored-toast {
  background-color: #2250c6 !important;
}

.colored-toast .swal2-title {
  color: white !important;
}

.colored-toast .swal2-close {
  color: white !important;
}

.colored-toast .swal2-html-container {
  color: white !important;
}

.Center-Container .is-Flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
     -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
     -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.exp-card {
  height: 100px;
  overflow: hidden;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.exp-card:hover .exp-description {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.exp-description {
  bottom: 0;
  color: var(--white);
  left: 0;
  padding: 0.25rem;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.shadow-nimble {box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38)}
.shadow-blue {box-shadow: rgba(7, 65, 210, 0.1) 0px 9px 30px}
.shadow-red {box-shadow: 5px 5px 0px 0px rgba(255,0,0)}
.shadow-faintred {box-shadow: 0 25px 50px -12px #ff333320}
.shadow-aesthetic {box-shadow: 0 3px 10px rgb(0,0,0,0.2)}
.shadow-rededge {box-shadow: 0 0 0 2px var(--r), 8px 8px 0 0 var(--rd2)}
.shadow-edge {box-shadow: 0 0 0 2px var(--b4), 8px 8px 0 0 var(--d7);}
.shadow-glow {box-shadow: rgba(209, 209, 209, 0.1) 0px 0px 16px}
.shadow-subtle {box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px}
.shadow-inside {box-shadow: inset -12px -8px 40px #46464620}


.read-more { display: none; }
p:truncated + .read-more { display: block; }
.tooltip {position: relative}
.tooltip:hover .tooltiptext {visibility: visible;}
.base-page-size {width: 100%; min-height: 100vh}
.backdrop {backdrop-filter: blur(.5rem)}
    
.bg-vid {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  -webkit-animation: video-fade 6s ease-in both;
  animation: video-fade 6s ease-in both;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  color: var(--l1);
  text-align: center;
  border-radius: 1rem;
  font-size: 1rem;
  position: absolute;
  z-index: 10;
  top: 90%;
  margin-top: 1.25rem;
  background: var(--d9);
  padding: 0.5rem;
  line-height: 1.5rem;
}